.feature {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}

.feature:hover {
    background: white;
}

.feature .title {
    font-size: 1.2rem;
    font-weight: bold;
}

.feature .description {
    color: #444;
}
