.feature {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    color: white;
}

.feature:hover {
    background: var(--secondary-button-hover);
}

.feature .title {
    font-size: 1.2rem;
    font-weight: bold;
}

.feature .description {
    color: white;
}
