.side-panel {
    height: 100%;
    background: var(--secondary-color);
    width: 0;
    transition: width .3s ease-in;
    box-shadow: 1px 0px 2px grey;
    flex-shrink: 0;
}

.show-side-panel {
    width: 20rem;
}