.map-container {
    width: 100%;
    height: calc(100% - var(--navbar-height));
}

#map-view-box {
    width: 100%;
    height: 100%;
    cursor: default;
}

.please-wait-message {
    font: 2rem sans-serif;
}

.map-view-box path:hover {
    stroke: #646464;
    stroke-width: 2px;
}