.map-container {
    width: 100%;
    height: calc(100% - var(--navbar-height));
}

.map-view-box {
    width: 100%;
    height: calc(100% - var(--navbar-height));
}

.please-wait-message {
    font: 2rem sans-serif;
}