.App > #upload-file {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 1px;
    transform: translate(-50%, -50%);
}

.upload-file-dialog {
    height: var(--upload-file-dialog-width);
    width: var(--upload-file-dialog-width);
    overflow-x: none;
    overflow-y: none;
    overflow: hidden;
}

.workflow {
    width: 100%;
    height: calc(100% - 5rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

.upload-file-dialog .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 5rem;
    padding: 1rem;
}

.workflow > .workflow-item {
    height: 100%;
    display: inline-block;
    width: 100%;
}

.workflow .csv-upload {
    border: 1px solid grey;
    padding: .5rem;
    border-radius: 5px;
}


.workflow .csv-upload:hover {
    box-shadow: 1px 2px 3px grey;
}

input[type="file"] {
    display: none;
}

.upload-file-workflow {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-csv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}