
:root{
    --scroll-indicator-height: 1.25rem;
    --navbar-height: 40px;
    --navbar-color: #eee;
    --upload-file-dialog-width: 40rem;
    --secondary-color: rgb(60, 142, 207);
    --secondary-font-color: white;
    --secondary-button-hover: rgb(60, 200, 240);
}

.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-panel {
    height: 100%;
    width: 100%;
}



.state-info-popup {
    position: absolute;
    display: none;
    border: 1px solid grey;
    box-shadow: 1px 1px 3px grey;
    background: white;
    pointer-events: none;
    width: 15rem;
}

table {
    border-collapse: collapse;
    border: 1px solid #666;
}

th, td {
    font-weight: normal;
    padding: .25rem;
    border: 1px solid #666;
}