.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main-panel {
    height: 100%;
    width: 100%;
}

:root{
    --scroll-indicator-height: 1.25rem;
    --navbar-height: 40px;
}

.state-info-popup {
    position: absolute;
    display: none;
    border: 1px solid grey;
    box-shadow: 1px 1px 3px grey;
    background: white;
    pointer-events: none;
    width: 15rem;
}